*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
nav{
    /* border: 2px solid red; */
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg,teal,gray,aqua);
}
.container{
    /* border: 2px solid blue; */
    height: 120px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.onee{
    /* border: 2px solid green; */
    height: inherit;
    width: 20%;
}
.twoo{
    /* border: 2px solid yellowgreen; */
    height: inherit;
    width: 70%;
    display: flex;
    justify-content: end;
}
.onee h1 a{
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
     display: flex;
    justify-content: end;
    align-items: center;
}
.twoo ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}
.twoo ul a{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

}
.twoo ul li{
    list-style: none;
}
.twoo ul a:hover{
    background-color: white;
    color: rgb(8, 8, 8);
}
